.site-header{
  width: 100%;
  top: 0;
  a{
    img{
      max-width: 100px;
      height: 100%;
      object-fit: contain;
      @media screen and (min-width: 768px){
        max-width: 143px;
      }
    }
  }
  .main-menu{
    ul{
      margin-left: 0;
      li{
        display: inline-block;
        font-size: 1rem;
        line-height: 1.25;
        color: $c_blue100;
        transition: all .3s cubic-bezier(0.11, 0.7, 0, 1);
        position: relative;
        border-bottom: 1px solid $c_blue100;
        @media screen and (min-width: 768px){
          border-bottom: 0;
        }
        &.show{
          background: $c_white100;
        }
        a{
          display: block;
          padding: 8px 10px;
          position: relative;
        }
        &:hover,&.current_page_item{
          color: $c_blue400;
        }
        &:hover{
          @media screen and (min-width: 768px){
            > ul.sub-menu{
              visibility: visible;
              opacity: 1;
              display: block;
            }
          }

        }
        ul.sub-menu{
          min-width: 100%;
          transition: all 0.3s ease;
          visibility: visible;
          opacity: 1;
          display: block;
          position: relative;
          border-top: 1px solid $c_blue100;
          @media screen and (min-width: 768px){
            display: none;
            position: absolute;
            background: $c_white100;
            border-top: 0;
            left: 0;
            left: 0;
            margin-top: -3px;
            min-width: 145px;
            visibility: hidden;
            opacity: 0;
          }
          li{
            display: block;
            margin-bottom: 0;
            &:last-child{
              border-bottom: 0;
            }
            a{
              padding-left: 20px;
              @media screen and (min-width: 768px){
                padding-left: 10px;
              }
            }
          }
        }
      }
      > li a{
        overflow: hidden;
        transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);
        z-index: 1;
        &:after {
          position: absolute;
          top:0; bottom: 0;
          right: 0;left: 0;
          display: block;
          background-color: $c_white100;
          content: "";
          transition: transform .3s cubic-bezier(0.11, 0.7, 0, 1);
          transform: translate3d(0,-100%,0);
          z-index:-1;
        }
        &:hover{
          &:after{
            transform: translate3d(0,0,0);
          }
        }
      }
    }
  }
  .menuBtn {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 20px;
    top: 20%;
    z-index: 101;
    > span {
      background-color: $green50;
      border-radius: 1px;
      height: 2px;
      width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -1px 0 0 -15px;
      transition: height 100ms;
      &:after, &:before {
        content: '';
        background-color: $green50;
        border-radius: 1px;
        height: 2px;
        width: 100%;
        position: absolute;
        left: 50%;
        margin-left: -15px;
        transition: all 200ms;
      }
      &:after {
        top: -7px;
      }
      &:before {
        bottom: -7px;
      }
    }
    &.act {
      > span {
        height: 0;
        &:after, &:before {
          background-color: $c_white100;
          top: 1px;
        }
        &:after {
          transform: rotate(45deg);
        }
        &:before {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.mobile_menu {
  background-color: $c_blue400;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  opacity: 0;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin-top: 0;
  transform: translateX(-100%);
  .mobile_menu_scroll{
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-height: 87vh;
    width: 100%;
    overflow-y: auto;
  }
  &.act {
    opacity: 1;
    transform: translateX(0);
  }
  .caret_wrap{
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-left: 18px;
    position: relative;
    z-index: 3;
  }
  span.caret{
    font-size: 12px;
    display: inline-block;
  }
  ul {
    display: block;
    vertical-align: middle;
    margin: 0;
    li {
      transition: all 400ms 510ms;
      display: block;
      text-align: left;
      color: $c_white100;
      font-weight: 500;
      border: 0;
      margin-bottom: 1.2rem;
      &:hover,&:focus,&.current_page_item{
        color: $c_gray100;
        a{
          color: $c_gray100;
        }
      }
      a{
        display: block;
        padding: 8px 10px;
        position: relative;
      }
      &.show_sub_menu{
        ul.sub-menu{
          display: block;
        }
        .caret_wrap{
          transform: rotate(-30deg);
          position: relative;
          top: -2px
        }
      }
      ul.sub-menu{
        display: none;
        li{
          margin-bottom: .5rem;
          font-weight: 300;
        }
      }
    }
  }
  .menu_footer{
    ul{
      li{
        font-weight: 300;
      }
    }
  }
}